/****** Object:  Database [PosApp]    Script Date: 11/24/2025 7:03:26 PM ******/
CREATE DATABASE [PosApp]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bag]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bag](
	[BagID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[EmployeeID] [int] NULL,
	[AddedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BagID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](255) NULL,
	[memberID] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Product]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Product](
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[ProductID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department_Product]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_Product](
	[DepartmentID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC,
	[ProductID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[JobTitle] [nvarchar](100) NULL,
	[HireDate] [date] NULL,
	[DepartmentID] [int] NULL,
	[AdminID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holiday_Sales]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday_Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[SaleName] [varchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[DiscountPercent] [int] NULL,
	[DepartmentID] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[LastRestockDate] [date] NULL,
	[ReorderLevel] [int] NULL,
	[QuantityAvailable] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[ProductName] [nvarchar](100) NULL,
	[SalePrice] [decimal](10, 2) NULL,
	[StockStatus]  AS (case when [QuantityAvailable]<=[ReorderLevel] then 'Low Stock' else 'In Stock' end) PERSISTED NOT NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_activity]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_type] [nvarchar](20) NOT NULL,
	[user_id] [int] NOT NULL,
	[login_time] [datetime] NULL,
	[success] [bit] NOT NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](100) NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[DepartmentID] [int] NULL,
	[QuantityInStock] [int] NULL,
	[SalePrice] [decimal](10, 2) NULL,
	[OnSale] [bit] NULL,
	[ImageURL] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reorder_Alerts]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reorder_Alerts](
	[AlertID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](100) NULL,
	[CurrentStock] [int] NULL,
	[ReorderLevel] [int] NULL,
	[AlertDate] [datetime] NULL,
	[AlertStatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesTransaction]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesTransaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[CustomerID] [int] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[OrderStatus] [varchar](50) NULL,
	[OrderDiscount] [decimal](10, 2) NULL,
	[ShippingAddress] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonalSale]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonalSale](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[DiscountPercent] [float] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingList]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingList](
	[ListID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingListItem]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingListItem](
	[ListItemID] [int] IDENTITY(1,1) NOT NULL,
	[ListID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListItemID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Details]    Script Date: 11/24/2025 7:03:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Details](
	[TransactionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[datetime] [datetime] NULL,
	[inventoryid] [int] NULL,
	[Status] [varchar](50) NULL,
	[Discount] [decimal](10, 2) NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[EmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC,
	[ProductID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([AdminID], [Name], [Email], [Username], [Password], [Role]) VALUES (1, N'John Smith', N'john.smith@grocerystore.com', N'jsmith', N'Pass123!', N'Store Manager')
INSERT [dbo].[Administrator] ([AdminID], [Name], [Email], [Username], [Password], [Role]) VALUES (2, N'Sarah Johnson', N'sarah.j@grocerystore.com', N'sjohnson', N'SecureP@ss', N'Assistant Manager')
INSERT [dbo].[Administrator] ([AdminID], [Name], [Email], [Username], [Password], [Role]) VALUES (3, N'Mike Davis', N'mike.d@grocerystore.com', N'mdavis', N'Admin2024!', N'IT Administrator')
SET IDENTITY_INSERT [dbo].[Administrator] OFF
GO
SET IDENTITY_INSERT [dbo].[Bag] ON 

INSERT [dbo].[Bag] ([BagID], [ProductID], [Quantity], [CustomerID], [EmployeeID], [AddedAt]) VALUES (32, 1002, 1, 2008, NULL, CAST(N'2025-11-23T22:06:23.213' AS DateTime))
INSERT [dbo].[Bag] ([BagID], [ProductID], [Quantity], [CustomerID], [EmployeeID], [AddedAt]) VALUES (33, 1003, 1, 2008, NULL, CAST(N'2025-11-23T22:06:23.973' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bag] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [Email], [username], [password], [memberID]) VALUES (2001, N'Robert Garcia', N'555-1001', N'rgarcia@email.com', N'rgarcia', N'CustPass1', NULL)
INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [Email], [username], [password], [memberID]) VALUES (2002, N'Jennifer White', N'555-1002', N'jwhite@email.com', N'jwhite', N'CustPass2', NULL)
INSERT [dbo].[Customer] ([CustomerID], [Name], [Phone], [Email], [username], [password], [memberID]) VALUES (2003, N'Michael Chen', N'555-1003', N'mchen@email.com', N'mchen', N'CustPass3', NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [Name], [Description]) VALUES (1, N'Produce', N'Fresh fruits and vegetables')
INSERT [dbo].[Department] ([DepartmentID], [Name], [Description]) VALUES (2, N'Dairy', N'Milk, cheese, yogurt, and eggs')
INSERT [dbo].[Department] ([DepartmentID], [Name], [Description]) VALUES (3, N'Meat & Seafood', N'Fresh and frozen meats and seafood')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
INSERT [dbo].[Department_Product] ([DepartmentID], [ProductID]) VALUES (1, 1001)
INSERT [dbo].[Department_Product] ([DepartmentID], [ProductID]) VALUES (1, 1002)
INSERT [dbo].[Department_Product] ([DepartmentID], [ProductID]) VALUES (2, 1003)
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [Name], [Phone], [Email], [JobTitle], [HireDate], [DepartmentID], [AdminID], [Username], [Password], [IsActive]) VALUES (105, N'Emma Taylor', N'555-0105', N'emma.t@store.com', N'Dairy Manager', CAST(N'2025-08-12' AS Date), 2, 2, N'etaylor', N'EmpPass5', 1)
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Phone], [Email], [JobTitle], [HireDate], [DepartmentID], [AdminID], [Username], [Password], [IsActive]) VALUES (110, N'Liam Johnson', N'555-0101', N'ljohnson@store.com', N'Produce Manager', CAST(N'2025-11-12' AS Date), 1, 1, N'ljohnson', N'ProPass1', 1)
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Phone], [Email], [JobTitle], [HireDate], [DepartmentID], [AdminID], [Username], [Password], [IsActive]) VALUES (111, N'Noah Smith', N'555-0102', N'nsmith@store.com', N'Meat & Seafood Manager', CAST(N'2025-11-12' AS Date), 3, 1, N'nsmith', N'MeatSea4', 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryID], [ProductID], [LastRestockDate], [ReorderLevel], [QuantityAvailable], [Price], [ProductName], [SalePrice], [DepartmentID]) VALUES (3001, 1001, CAST(N'2025-11-11' AS Date), 50, 146, CAST(0.63 AS Decimal(10, 2)), N'Organic Bananas', NULL, 1)
INSERT [dbo].[Inventory] ([InventoryID], [ProductID], [LastRestockDate], [ReorderLevel], [QuantityAvailable], [Price], [ProductName], [SalePrice], [DepartmentID]) VALUES (3002, 1002, CAST(N'2025-11-11' AS Date), 75, 186, CAST(1.03 AS Decimal(10, 2)), N'Red Apples', NULL, 1)
INSERT [dbo].[Inventory] ([InventoryID], [ProductID], [LastRestockDate], [ReorderLevel], [QuantityAvailable], [Price], [ProductName], [SalePrice], [DepartmentID]) VALUES (3003, 1003, CAST(N'2025-11-11' AS Date), 20, 36, CAST(3.19 AS Decimal(10, 2)), N'Whole Milk', NULL, 2)
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Barcode], [DepartmentID], [QuantityInStock], [SalePrice], [OnSale], [ImageURL], [IsActive]) VALUES (1001, N'Organic Bananas', N'Fresh organic bananas per lb', CAST(0.63 AS Decimal(10, 2)), N'123456789001', 1, 146, NULL, 0, N'https://images.unsplash.com/photo-1571771894821-ce9b6c11b08e?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Barcode], [DepartmentID], [QuantityInStock], [SalePrice], [OnSale], [ImageURL], [IsActive]) VALUES (1002, N'Red Apples', N'Crisp red apples per lb', CAST(1.03 AS Decimal(10, 2)), N'123456789002', 1, 186, NULL, 0, N'https://images.unsplash.com/photo-1694614826204-0b7dd87603d6?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1740', 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Barcode], [DepartmentID], [QuantityInStock], [SalePrice], [OnSale], [ImageURL], [IsActive]) VALUES (1003, N'Whole Milk', N'1 gallon whole milk', CAST(3.19 AS Decimal(10, 2)), N'123456789003', 2, 36, NULL, 0, N'https://images.unsplash.com/photo-1563636619-e9143da7973b?q=80&w=930&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Reorder_Alerts] ON 

INSERT [dbo].[Reorder_Alerts] ([AlertID], [ProductID], [ProductName], [CurrentStock], [ReorderLevel], [AlertDate], [AlertStatus]) VALUES (6001, 1009, NULL, 35, 15, CAST(N'2024-10-27T00:00:00.000' AS DateTime), N'Active')
INSERT [dbo].[Reorder_Alerts] ([AlertID], [ProductID], [ProductName], [CurrentStock], [ReorderLevel], [AlertDate], [AlertStatus]) VALUES (6002, 1007, NULL, 40, 15, CAST(N'2024-10-27T00:00:00.000' AS DateTime), N'Active')
INSERT [dbo].[Reorder_Alerts] ([AlertID], [ProductID], [ProductName], [CurrentStock], [ReorderLevel], [AlertDate], [AlertStatus]) VALUES (6003, 1014, N'Green Kiwis', 0, 0, CAST(N'2025-11-12T21:23:04.390' AS DateTime), N'COMPLETED')
SET IDENTITY_INSERT [dbo].[Reorder_Alerts] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesTransaction] ON 

INSERT [dbo].[SalesTransaction] ([TransactionID], [TransactionDate], [TotalAmount], [CustomerID], [PaymentMethod], [OrderStatus], [OrderDiscount], [ShippingAddress]) VALUES (4006, CAST(N'2025-11-06T09:00:00.000' AS DateTime), CAST(25.49 AS Decimal(10, 2)), 2001, N'Credit Card', N'Completed', CAST(0.00 AS Decimal(10, 2)), N'123 Elm St')
INSERT [dbo].[SalesTransaction] ([TransactionID], [TransactionDate], [TotalAmount], [CustomerID], [PaymentMethod], [OrderStatus], [OrderDiscount], [ShippingAddress]) VALUES (4007, CAST(N'2025-11-06T09:05:00.000' AS DateTime), CAST(18.75 AS Decimal(10, 2)), 2002, N'Cash', N'Completed', CAST(0.50 AS Decimal(10, 2)), N'456 Oak St')
INSERT [dbo].[SalesTransaction] ([TransactionID], [TransactionDate], [TotalAmount], [CustomerID], [PaymentMethod], [OrderStatus], [OrderDiscount], [ShippingAddress]) VALUES (4008, CAST(N'2025-11-06T09:10:00.000' AS DateTime), CAST(32.99 AS Decimal(10, 2)), 2003, N'Debit Card', N'Completed', CAST(1.00 AS Decimal(10, 2)), N'789 Pine St')
SET IDENTITY_INSERT [dbo].[SalesTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[ShoppingList] ON 

INSERT [dbo].[ShoppingList] ([ListID], [CustomerID], [Name], [IsDefault], [CreatedAt]) VALUES (13, 2006, N'Default', 1, CAST(N'2025-11-12T09:46:47.670' AS DateTime))
INSERT [dbo].[ShoppingList] ([ListID], [CustomerID], [Name], [IsDefault], [CreatedAt]) VALUES (17, 2001, N'Default', 1, CAST(N'2025-11-12T15:08:22.857' AS DateTime))
INSERT [dbo].[ShoppingList] ([ListID], [CustomerID], [Name], [IsDefault], [CreatedAt]) VALUES (19, 2006, N'My List', 0, CAST(N'2025-11-12T22:01:07.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShoppingList] OFF
GO
INSERT [dbo].[Transaction_Details] ([TransactionID], [ProductID], [Quantity], [Price], [datetime], [inventoryid], [Status], [Discount], [Subtotal], [EmployeeID]) VALUES (4006, 1001, 2, CAST(5.99 AS Decimal(10, 2)), CAST(N'2025-11-06T09:00:00.000' AS DateTime), 3001, N'Completed', CAST(0.00 AS Decimal(10, 2)), CAST(11.98 AS Decimal(10, 2)), 110)
INSERT [dbo].[Transaction_Details] ([TransactionID], [ProductID], [Quantity], [Price], [datetime], [inventoryid], [Status], [Discount], [Subtotal], [EmployeeID]) VALUES (4006, 1002, 1, CAST(12.50 AS Decimal(10, 2)), CAST(N'2025-11-06T09:00:00.000' AS DateTime), 3002, N'Completed', CAST(0.00 AS Decimal(10, 2)), CAST(12.50 AS Decimal(10, 2)), 110)
INSERT [dbo].[Transaction_Details] ([TransactionID], [ProductID], [Quantity], [Price], [datetime], [inventoryid], [Status], [Discount], [Subtotal], [EmployeeID]) VALUES (4007, 1003, 3, CAST(3.99 AS Decimal(10, 2)), CAST(N'2025-11-06T09:05:00.000' AS DateTime), 3003, N'Completed', CAST(0.00 AS Decimal(10, 2)), CAST(11.97 AS Decimal(10, 2)), 105)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Administ__536C85E49346742D]    Script Date: 11/24/2025 7:03:29 PM ******/
ALTER TABLE [dbo].[Administrator] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Administ__A9D10534D69A9770]    Script Date: 11/24/2025 7:03:29 PM ******/
ALTER TABLE [dbo].[Administrator] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Bag_Customer_Product]    Script Date: 11/24/2025 7:03:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Bag_Customer_Product] ON [dbo].[Bag]
(
	[CustomerID] ASC,
	[ProductID] ASC
)
WHERE ([EmployeeID] IS NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Bag_Employee_Product]    Script Date: 11/24/2025 7:03:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Bag_Employee_Product] ON [dbo].[Bag]
(
	[EmployeeID] ASC,
	[ProductID] ASC
)
WHERE ([CustomerID] IS NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__F3DBC57290ACF753]    Script Date: 11/24/2025 7:03:29 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__536C85E441C54EF0]    Script Date: 11/24/2025 7:03:29 PM ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__177800D398FD44B5]    Script Date: 11/24/2025 7:03:29 PM ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ShoppingList_Customer_Name]    Script Date: 11/24/2025 7:03:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ShoppingList_Customer_Name] ON [dbo].[ShoppingList]
(
	[CustomerID] ASC,
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_ShoppingList_Default]    Script Date: 11/24/2025 7:03:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ShoppingList_Default] ON [dbo].[ShoppingList]
(
	[CustomerID] ASC,
	[IsDefault] ASC
)
WHERE ([IsDefault]=(1))
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShoppingListItem_List_Product]    Script Date: 11/24/2025 7:03:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ShoppingListItem_List_Product] ON [dbo].[ShoppingListItem]
(
	[ListID] ASC,
	[ProductID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bag] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Bag] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Customer_Product] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Holiday_Sales] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((10)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[login_activity] ADD  DEFAULT (getdate()) FOR [login_time]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [QuantityInStock]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [OnSale]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Reorder_Alerts] ADD  DEFAULT (getdate()) FOR [AlertDate]
GO
ALTER TABLE [dbo].[Reorder_Alerts] ADD  DEFAULT ('PENDING') FOR [AlertStatus]
GO
ALTER TABLE [dbo].[SalesTransaction] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[SalesTransaction] ADD  DEFAULT ('Processing') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[SalesTransaction] ADD  DEFAULT ((0)) FOR [OrderDiscount]
GO
ALTER TABLE [dbo].[SeasonalSale] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ShoppingList] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[ShoppingList] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ShoppingListItem] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ShoppingListItem] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Transaction_Details] ADD  DEFAULT ('Processing') FOR [Status]
GO
ALTER TABLE [dbo].[Transaction_Details] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Transaction_Details] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Bag]  WITH CHECK ADD  CONSTRAINT [FK_Bag_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Bag] CHECK CONSTRAINT [FK_Bag_Customer]
GO
ALTER TABLE [dbo].[Bag]  WITH CHECK ADD  CONSTRAINT [FK_Bag_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Bag] CHECK CONSTRAINT [FK_Bag_Employee]
GO
ALTER TABLE [dbo].[Bag]  WITH CHECK ADD  CONSTRAINT [FK_Bag_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Bag] CHECK CONSTRAINT [FK_Bag_Product]
GO
ALTER TABLE [dbo].[Customer_Product]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Customer_Product]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Department_Product]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Department_Product]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[Administrator] ([AdminID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Holiday_Sales]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Department]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Reorder_Alerts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[SalesTransaction]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[SalesTransaction]  WITH CHECK ADD  CONSTRAINT [FK_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[SalesTransaction] CHECK CONSTRAINT [FK_Customer]
GO
ALTER TABLE [dbo].[ShoppingList]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingList_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[ShoppingList] CHECK CONSTRAINT [FK_ShoppingList_Customer]
GO
ALTER TABLE [dbo].[ShoppingListItem]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingListItem_List] FOREIGN KEY([ListID])
REFERENCES [dbo].[ShoppingList] ([ListID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingListItem] CHECK CONSTRAINT [FK_ShoppingListItem_List]
GO
ALTER TABLE [dbo].[ShoppingListItem]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingListItem_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ShoppingListItem] CHECK CONSTRAINT [FK_ShoppingListItem_Product]
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD FOREIGN KEY([TransactionID])
REFERENCES [dbo].[SalesTransaction] ([TransactionID])
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD  CONSTRAINT [FK_Inventory] FOREIGN KEY([inventoryid])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[Transaction_Details] CHECK CONSTRAINT [FK_Inventory]
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD  CONSTRAINT [FK_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Transaction_Details] CHECK CONSTRAINT [FK_Product]
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD  CONSTRAINT [FK_Transaction] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[SalesTransaction] ([TransactionID])
GO
ALTER TABLE [dbo].[Transaction_Details] CHECK CONSTRAINT [FK_Transaction]
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Details_Inventory] FOREIGN KEY([inventoryid])
REFERENCES [dbo].[Inventory] ([InventoryID])
GO
ALTER TABLE [dbo].[Transaction_Details] CHECK CONSTRAINT [FK_Transaction_Details_Inventory]
GO
ALTER TABLE [dbo].[Transaction_Details]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetails_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Transaction_Details] CHECK CONSTRAINT [FK_TransactionDetails_Employee]
GO
ALTER TABLE [dbo].[Bag]  WITH CHECK ADD  CONSTRAINT [CK_Bag_Owner] CHECK  (([CustomerID] IS NOT NULL AND [EmployeeID] IS NULL OR [CustomerID] IS NULL AND [EmployeeID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Bag] CHECK CONSTRAINT [CK_Bag_Owner]
GO
/****** Object:  StoredProcedure [dbo].[ApplyHolidaySales]    Script Date: 11/24/2025 7:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ApplyHolidaySales]
AS
BEGIN
    SET NOCOUNT ON;

    -- Verify that SalePrice and OnSale columns exist
    IF NOT EXISTS (
        SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS 
        WHERE TABLE_NAME = 'Product' AND COLUMN_NAME IN ('SalePrice', 'OnSale')
    )
    BEGIN
        PRINT 'SalePrice or OnSale column missing in Product table.';
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Step 1: Reset expired or inactive sales
        UPDATE p
        SET 
            p.SalePrice = p.Price,  -- reset to original price
            p.OnSale = 0
        FROM Product p
        WHERE p.OnSale = 1
          AND NOT EXISTS (
              SELECT 1
              FROM Holiday_Sales hs
              WHERE hs.IsActive = 1
                AND GETDATE() BETWEEN hs.StartDate AND hs.EndDate
                AND (hs.DepartmentID IS NULL OR hs.DepartmentID = p.DepartmentID)
          );

        -- Step 2: Apply current active holiday sales
        UPDATE p
        SET 
            p.SalePrice = sale_prices.NewSalePrice,
            p.OnSale = 1
        FROM Product p
        INNER JOIN (
            SELECT 
                p.ProductID, 
                MIN(p.Price * (1 - hs.DiscountPercent / 100.0)) AS NewSalePrice
            FROM Product p
            JOIN Holiday_Sales hs 
                ON (hs.DepartmentID IS NULL OR hs.DepartmentID = p.DepartmentID)
            WHERE hs.IsActive = 1
              AND GETDATE() BETWEEN hs.StartDate AND hs.EndDate
            GROUP BY p.ProductID
        ) sale_prices 
            ON p.ProductID = sale_prices.ProductID;

        COMMIT TRANSACTION;
        PRINT 'Holiday sales applied and expired sales reset successfully.';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        PRINT 'Error applying holiday sales: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  Trigger [dbo].[trg_SetInventoryDept]    Script Date: 11/24/2025 7:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_SetInventoryDept]
ON [dbo].[Inventory]
AFTER INSERT
AS
BEGIN
    UPDATE i
    SET i.DepartmentID = p.DepartmentID
    FROM Inventory i
    JOIN Product p ON i.ProductID = p.ProductID
    JOIN inserted ins ON i.InventoryID = ins.InventoryID;
END;
GO
ALTER TABLE [dbo].[Inventory] ENABLE TRIGGER [trg_SetInventoryDept]
GO
/****** Object:  Trigger [dbo].[trg_AddInventoryOnNewProduct]    Script Date: 11/24/2025 7:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AddInventoryOnNewProduct]
ON [dbo].[Product]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Inventory (
        ProductID,
        ProductName,
        Price,
        SalePrice,
        DepartmentID,
        QuantityAvailable,
        ReorderLevel,
        LastRestockDate
    )
    SELECT 
        i.ProductID,
        i.Name AS ProductName,
        i.Price,
        i.SalePrice,
        i.DepartmentID,
        i.QuantityInStock AS QuantityAvailable,
        0 AS ReorderLevel,
        GETDATE() AS LastRestockDate
    FROM inserted i
    WHERE NOT EXISTS (
        SELECT 1 
        FROM Inventory inv
        WHERE inv.ProductID = i.ProductID
    );
END;
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [trg_AddInventoryOnNewProduct]
GO
/****** Object:  Trigger [dbo].[trg_low_stock_reorder_alert]    Script Date: 11/24/2025 7:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_low_stock_reorder_alert]
ON [dbo].[Product]
AFTER UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN deleted d ON i.ProductID = d.ProductID
        JOIN Inventory inv ON i.ProductID = inv.ProductID
        WHERE i.QuantityInStock <= inv.ReorderLevel * 1.2
          AND d.QuantityInStock > inv.ReorderLevel * 1.2
    )
    BEGIN
        INSERT INTO Reorder_Alerts (ProductID, ProductName, CurrentStock, ReorderLevel)
        SELECT i.ProductID, i.Name, i.QuantityInStock, inv.ReorderLevel
        FROM inserted i
        JOIN Inventory inv ON i.ProductID = inv.ProductID;
    END
END;

-- Clear existing sales
UPDATE Product SET SalePrice = NULL, OnSale = 0;

-- Apply current sales
UPDATE p
SET p.SalePrice = sale_prices.NewSalePrice,
    p.OnSale = 1
FROM Product p
INNER JOIN (
    SELECT p.ProductID, MIN(p.Price * (1 - hs.DiscountPercent / 100.0)) AS NewSalePrice
    FROM Product p
    JOIN Holiday_Sales hs ON hs.DepartmentID IS NULL OR hs.DepartmentID = p.DepartmentID
    WHERE hs.IsActive = 1
      AND GETDATE() BETWEEN hs.StartDate AND hs.EndDate
    GROUP BY p.ProductID
) sale_prices ON p.ProductID = sale_prices.ProductID;
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [trg_low_stock_reorder_alert]
GO
/****** Object:  Trigger [dbo].[trg_UpdateInventoryFromProduct]    Script Date: 11/24/2025 7:03:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_UpdateInventoryFromProduct]
ON [dbo].[Product]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE i
    SET 
        i.Price = p.Price,
        i.SalePrice = p.SalePrice,
        i.ProductName = p.Name,
        i.QuantityAvailable = p.QuantityInStock
    FROM Inventory i
    JOIN inserted p ON i.ProductID = p.ProductID;
END;
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [trg_UpdateInventoryFromProduct]
GO
/****** Object:  Trigger [dbo].[trg_UpdateSalePrices]    Script Date: 11/24/2025 7:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_UpdateSalePrices]
ON [dbo].[SeasonalSale]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Update SalePrice instead of overwriting Price
    UPDATE p
    SET p.SalePrice = p.Price * (1 - s.DiscountPercent / 100.0),
        p.OnSale = 1
    FROM Product p
    INNER JOIN inserted s
        ON GETDATE() BETWEEN s.StartDate AND s.EndDate;

    -- Optional: reset SalePrice if sale expired
    UPDATE p
    SET p.SalePrice = NULL,
        p.OnSale = 0
    FROM Product p
    WHERE NOT EXISTS (
        SELECT 1
        FROM SeasonalSale s
        WHERE s.IsActive = 1
          AND GETDATE() BETWEEN s.StartDate AND s.EndDate
    );
END;
GO
ALTER TABLE [dbo].[SeasonalSale] ENABLE TRIGGER [trg_UpdateSalePrices]
GO
/****** Object:  Trigger [dbo].[trg_AssignEmployeeToTransaction]    Script Date: 11/24/2025 7:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AssignEmployeeToTransaction]
ON [dbo].[Transaction_Details]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE td
    SET td.EmployeeID = e.EmployeeID
    FROM Transaction_Details td
    JOIN inserted i ON td.TransactionID = i.TransactionID AND td.ProductID = i.ProductID
    JOIN Product p ON i.ProductID = p.ProductID
    JOIN Employee e ON e.DepartmentID = p.DepartmentID
END;
GO
ALTER TABLE [dbo].[Transaction_Details] ENABLE TRIGGER [trg_AssignEmployeeToTransaction]
GO
/****** Object:  Trigger [dbo].[trg_AutoFill_TransactionDetails]    Script Date: 11/24/2025 7:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_AutoFill_TransactionDetails]
ON [dbo].[Transaction_Details]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE td
    SET 
        td.[datetime] = ISNULL(td.[datetime], st.[TransactionDate]),
        td.[InventoryID] = ISNULL(td.[InventoryID], inv.[InventoryID])
    FROM [Transaction_Details] td
    INNER JOIN inserted i 
        ON td.[TransactionID] = i.[TransactionID]
       AND td.[ProductID] = i.[ProductID]
       AND td.[Quantity] = i.[Quantity]
       AND td.[Price] = i.[Price]
    LEFT JOIN [SalesTransaction] st 
        ON i.[TransactionID] = st.[TransactionID]
    LEFT JOIN [Inventory] inv 
        ON i.[ProductID] = inv.[ProductID];
END;
GO
ALTER TABLE [dbo].[Transaction_Details] ENABLE TRIGGER [trg_AutoFill_TransactionDetails]
GO
/****** Object:  Trigger [dbo].[trg_UpdateSubtotal]    Script Date: 11/24/2025 7:03:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_UpdateSubtotal]
ON [dbo].[Transaction_Details]
AFTER INSERT, UPDATE
AS
BEGIN
    UPDATE td
    SET td.Subtotal = td.Quantity * td.Price
    FROM Transaction_Details td
    JOIN inserted i ON td.TransactionID = i.TransactionID AND td.ProductID = i.ProductID
END;
GO
ALTER TABLE [dbo].[Transaction_Details] ENABLE TRIGGER [trg_UpdateSubtotal]
GO
